.informationContainer {
  display: flex;
  flex-direction: column;
  margin: 12px;

  .detail {
    display: flex;
    font-size: 14px;
    line-height: 1.6;
    .key {
      flex-shrink: 0;
      width: 60px;
      padding: 8px;
      font-weight: bold;
    }

    .content {
      flex-grow: 1;
      padding: 8px;
    }
  }
}
