.bottomStickyContainer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  display: flex;
  height: auto;
  gap: 12px;
  border-top: var(--color-gray-0);
  padding: 12px;
  background-color: white;
}
